In [1]:
import pandas as pd
import json
from functions import remove_brackets, remove_quotations1, remove_quotations2

In [2]:
#with open('data/chamorro_dict2.json') as f:
#    data = json.loads("[" + 
#        f.read().replace("}\n{", "},\n{") + 
#    "]")

#    print(data)

In [3]:
df_1 = pd.read_json('data/chamorro_dict.json', "r", encoding="utf-8", lines=True)
df_2 = pd.read_json('data/chamorro_dict2.json', "r", encoding="utf-8", lines=True)

In [4]:
df = pd.concat([df_1, df_2], ignore_index=True, sort=True)
df = df[['word', 'definition']]

In [5]:
df.head()

        word                                         definition
0  [a'abang]  [Type of plant--eugenia reinwardtiana (Beach C...
1  [a'adahi]         [Protector; guard; caretaker; body guard.]
2  [a'adda']                      [Mimicker; imitator; mocker.]
3  [a'addak]       [noun. Knocker; person who knocks; pounder.]
4    [a'aga]          [Type of fish-family labridae (Wrasses).]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10458 entries, 0 to 10457
Data columns (total 2 columns):
word          10204 non-null object
definition    10458 non-null object
dtypes: object(2)
memory usage: 163.5+ KB

In [7]:
df.isna().sum()

word          254
definition      0
dtype: int64

In [8]:
df = df.dropna()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10204 entries, 0 to 10457
Data columns (total 2 columns):
word          10204 non-null object
definition    10204 non-null object
dtypes: object(2)
memory usage: 239.2+ KB

In [10]:
df.head()

        word                                         definition
0  [a'abang]  [Type of plant--eugenia reinwardtiana (Beach C...
1  [a'adahi]         [Protector; guard; caretaker; body guard.]
2  [a'adda']                      [Mimicker; imitator; mocker.]
3  [a'addak]       [noun. Knocker; person who knocks; pounder.]
4    [a'aga]          [Type of fish-family labridae (Wrasses).]

In [11]:
df['word'] = df['word'].map(remove_brackets)
df['definition'] = df['definition'].map(remove_brackets)

In [12]:
df['word'] = df['word'].map(remove_quotations1)
df['definition'] = df['definition'].map(remove_quotations1)

In [13]:
df['word'] = df['word'].map(remove_quotations2)
df['definition'] = df['definition'].map(remove_quotations2)

In [14]:
df.head()

      word                                         definition
0  a'abang  Type of plant--eugenia reinwardtiana (Beach Ch...
1  a'adahi           Protector; guard; caretaker; body guard.
2   a'adda                        Mimicker; imitator; mocker.
3  a'addak         noun. Knocker; person who knocks; pounder.
4    a'aga            Type of fish-family labridae (Wrasses).

In [15]:
#df.to_excel('chamorro_dict_cleaned.xlsx')
#df.to_csv('data/complete_dict.csv', index=False)